.my-account {
  padding: 20px 0;
  
  .my-orders {
    max-width: 1180px;
    .row {
      margin: 0;
    }

    .header {
      padding: 10px 0;
      background: rgba(#000, 0.6);
      color: #fff;
    }

    .content {
      border-bottom: 1px solid #ccc;

      > div {
        padding-top: 10px;
        padding-bottom: 10px;
        border-right: 1px solid #ccc;
        &:first-of-type {
          border-left: 1px solid #ccc;
        }
      }
    }
  }
}